body {
  height: 100%;
}

.card-block {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel {
  padding: 10px;
}

main {
  padding-top: 20px;
  text-align: center;
}

.card {
  padding: 20px;
  background-color: lightblue;
}

.card-link {
  float: right;
}

footer {
  font-size: 0.8em;
  text-align: center;
}

@media screen and (min-width: 361px) and (max-width: 800px) {


  .carousel {
    width:100%;

  }

  .carousel-item-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

}

@media screen and (min-width: 801px)  {

  .carousel {
    width:100%;
  }

  .carousel-item {
    width: 100%;
  }

  .carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

}
